.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.doctors {
  background-color: #3498db;
  color: white;
}

.receptionists {
  background-color: #3498db;
  color: white;
}

.register-doctor {
  background-color: #3498db;
  color: white;
}

.register-receptionist {
  background-color: #3498db;
  color: white;
}

.button:hover {
  filter: brightness(0.9);
}



body{background-color: #000}
.padding{padding: 5rem !important}
.signup-form{
  background-color: #fff;
  padding: 45px;
  border-radius: 1px
}
h2{
  font-size: 36px;
  letter-spacing: 0.08em
}
.signup-form 
.form-control{
  font-size: 16px;
  padding: 10px 15px;
  color: #555;
  background-color: #ffffff;
  border-radius: 3px
}

  .signup-form input{
    border: 1px solid #000000;
    height: 38px;
    box-shadow: none !important
  }
    .btn-blue{
      background: #44c5ee;
      padding: 10px 28px;
      border: 2px solid #44c5ee;
      color: #fff;
      border-radius: 50px;
      font-weight: 700;
      letter-spacing: 0.08em;
      -webkit-transition: 0.5s all;
      transition: 0.5s all;
      box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6);
      outline: none !important
    }
      .btn-blue:hover,
       .btn-blue:focus,
        .btn-blue:active{
          background: #fff;
          color: #496174}

          .form-control mb-3{
            border: 1px solid #000000
          }




          .custom-dropdown-menu .ant-select-dropdown-menu {
            background-color: #f0f0f0; /* Change this color to your desired background color */
            border-radius: 5px;
          }
          
          .custom-dropdown-menu .ant-select-item {
            color: brown;
            padding: 8px 12px;
          }
          
          .custom-dropdown-menu .ant-select-item:hover {
            background-color: #d8d8d8; 
          }